

<script type="module">
    import * as hello from './__target__/hello.js';
    window.hello = hello;
</script>

<h2>Hello pyparis</h2>

<div id = "greet">...</div>
<button onclick="hello.solarSystem.greet ()">
    Click me repeatedly!
</button>

<div id = "explain">...</div>
<button onclick="hello.solarSystem.explain ()">
    And click me repeatedly too!
</button>


